---
networks:
  {{ docker_network }}:
    external: true
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    networks:
      - {{ docker_network }}
    environment:
      - PUID=65534
      - PGID=65534
      - TZ=America/Sao_Paulo
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - {{ qbittorrent_dir }}/appdata:/config
      - {{ media_dir }}/downloads:/downloads #optional
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped