{% if media_server_ip is defined and media_server_ip is string and media_server_ip != "" %}
---
http:
  routers:
    to-flaresolverr:
      rule: Host(`flaresolverr.home.{{ domain_name }}`)
      entryPoints:
        - websecure
        - web
      tls:
        certResolver: cloudflare
      service: flaresolverr
  services:
    flaresolverr:
      loadBalancer:
        servers:
          - url: "http://{{ media_server_ip }}:8191"
{% endif %}