{% if media_server_ip is defined and media_server_ip is string and media_server_ip != "" %}
---
http:
  routers:
    to-radarr:
      rule: Host(`radarr.home.{{ domain_name }}`)
      entryPoints:
        - websecure
        - web
      tls:
        certResolver: cloudflare
      service: radarr
  services:
    radarr:
      loadBalancer:
        servers:
          - url: "http://{{ media_server_ip }}:7878"
{% endif %}