{% if media_server_ip is defined and media_server_ip is string and media_server_ip != "" %}
---
http:
  routers:
    to-sonarr:
      rule: Host(`sonarr.home.{{ domain_name }}`)
      entryPoints:
        - websecure
        - web
      tls:
        certResolver: cloudflare
      service: sonarr
  services:
    sonarr:
      loadBalancer:
        servers:
          - url: "http://{{ media_server_ip }}:8989"
{% endif %}